<h1>Danh sách người dùng</h1>
<% if (req.can('users.add')) { %>
<a href="/users/add" class="btn btn-primary mb-2">Thêm người dùng</a>
<% } %>

<table class="table table-bordered">
  <% if (msg.length) { %>
  <div class="alert alert-success"><%= msg %></div>
  <% } %>
  <thead>
    <tr>
      <th width="5%">STT</th>
      <th>Tên</th>
      <th>Email</th>
      <th width="15%">Phân Quyền</th>
      <th width="5%">Sửa</th>
      <th width="5%">Xóa</th>
    </tr>
  </thead>
  <tbody>
    <% users.forEach((user,index) => {%>
    <tr>
      <td><%= index+1 %></td>
      <td><%= user.name %></td>
      <td><%= user.email %></td>

      <td>
        <a href="/users/permission/<%= user.id %>" class="btn btn-success"
          >Phân quyền</a
        >
      </td>
      <% if (req.can('users.edit')) { %>
      <td>
        <a href="/users/edit/<%= user.id %>" class="btn btn-primary">Sửa</a>
      </td>
      <% } %> <% if (req.can('users.delete')) { %>
      <td>
        <form
          action="/users/delete/<%= user.id %>"
          onsubmit="return confirm('Bạn có chắc chắn muốn xóa không?')"
          method="post"
        >
          <button class="btn btn-danger">Xóa</button>
        </form>
      </td>

      <% } %>
    </tr>
    <% }) %>
  </tbody>
</table>
<ul class="pagination">
  <% if(+page > 1) {%>
  <li class="page-item">
    <a class="page-link" href="?page=<%=  +page - 1 %>">Trước</a>
  </li>
  <%} %> <% for(let index =1 ; index <= totalPage;index++) { %>
  <li class="page-item <%= req.query.page == index ? 'active' : '' %>">
    <a class="page-link" href="?page=<%= index  %>"><%= index %></a>
  </li>
  <% } %> <% if (+page + 1 <= +totalPage) { %>
  <li class="page-item">
    <a class="page-link" href="?page=<%= +page + 1 %>">Sau</a>
  </li>
  <% } %>
</ul>
