<h1>Rút gọn liên kết</h1>
<div class="d-flex align-items-start" style="gap: 16px">
  <div class="flex-grow-1" style="overflow-x: auto">
    <% if (user.shorten_urls && user.shorten_urls.length > 0) { %>
    <table class="table table-bordered " style="font-size: 12px;">
      <thead class="table-light">
        <tr>
          <th>STT</th>
          <th style="white-space: nowrap">Liên kết rút gọn</th>
          <th style="white-space: nowrap">Liên kết gốc</th>
          <th style="white-space: nowrap">Mật khẩu</th>
          <th style="white-space: nowrap">Lượt truy cập</th>
          <th style="white-space: nowrap">Ngày tạo</th>
          <th style="white-space: nowrap">Hành động</th>
        </tr>
      </thead>
      <tbody>
        <% user.shorten_urls?.forEach((shorten_url,index) => { %>

        <tr>
          <td style="white-space: nowrap"><%= index + 1 %></td>
          <td  style="white-space: nowrap">
            <a target="_blank" rel="noreferrer" href="<%= `${my_url}/${shorten_url.short_url}`  %>">
              <%= `${my_url}/${shorten_url.short_url}`  %>
            
            </a>
          </td>
          <td  style="white-space: nowrap">
            <a target="_blank" rel="noreferrer" href="<%= shorten_url.full_url %>">
              <%= shorten_url.full_url%>
            </a>
          </td>
          <td  style="white-space: nowrap">
            <%= shorten_url.password ? shorten_url.password : "(không có)" %>
          </td  style="white-space: nowrap">
          <td  style="white-space: nowrap"><%= shorten_url.clicks %></td>
          <td  style="white-space: nowrap"><%= moment(shorten_url.created_at, "YYYYMMDD").locale('vi').fromNow() %></td>
          <td  style="white-space: nowrap" >
            <div class="d-flex" style="flex-wrap: nowrap;gap:8px">
                <a href="/shorten-urls/edit/<%= shorten_url.short_url  %>" class="btn btn-primary" style="padding: 6px;font-size:10px"><i class="fa-solid fa-pen-to-square"></i></a>
                <a href="" class="btn btn-success" style="padding: 6px;font-size:10px"><i class="fa-solid fa-share"></i></a>
                <form action="/shorten-urls/delete/<%= shorten_url.short_url  %>" method="post" onsubmit="return confirm('Bạn có chắc chắn muốn xóa không?')"> 
                    <button  class="btn btn-danger" style="padding: 6px;font-size:10px">
                      <i class="fa-solid fa-trash"></i>
                    </button>
                </form>
            </div>
          </td>
        </tr>
        <% }) %>
      </tbody>
    </table>
    <% } else { %>
    <div class="p-4 border border-light-subtle rounded">
      <span class="btn btn-danger w-100">
        Bạn chưa rút gọn liên kết nào. Bạn còn chờ gì nữa?
      </span>
    </div>

    <% } %>
  </div>

  <div
    class="p-3 border border-light-subtle rounded mb-3"
    style="flex-basis: 30%; flex-shrink: 0"
  >
    <form action="" method="post">
      <div class="mb-4">
        <label for="link">Liên kết</label>
        <div>
          <input
            type="text"
            name="link"
            placeholder="Rút gọn liên kết của bạn..."
            class="w-100 form-control"
          />
          <%- req.errors?.link ? `<span class="text-danger"
            >${req.errors?.link}</span
          >`: '' %>
        </div>
      </div>
      <div class="mb-4">
        <label for="password">Mật khẩu (tùy chọn)</label>
        <div>
          <input
            type="password"
            name="password"
            placeholder="Nhập mật khẩu để mở khóa..."
            class="w-100 form-control"
          />
          <%- req.errors?.password ? `<span class="text-danger"
            >${req.errors?.password}</span
          >`: '' %>
        </div>
      </div>
      <div class="mb-2">
        <label>
          <input  type="checkbox" name="safe_navigation" value="1" /> Chuyển hướng an toàn (Tránh
          bị chặn bởi Facebook)
        </label>
      </div>
      <div class="mb-2">
        <label>
          <input type="checkbox" name=""  /> Tùy chỉnh ID của liên kết
        </label>
      </div>
      <button class="btn btn-primary w-100 mt-4">Rút gọn</button>
    </form>

    <% if (msg.length) { %>
    <hr />
    <div class="alert alert-success mt-3"><%= msg %></div>
    <span class="mt-4">URL rút gọn của bạn</span>
    <div
      style="
        border: 1px solid #ccc;
        border-radius: 6px;
        display: flex;
        font-size: 14px;
        margin-bottom: 21px;
      "
    >
      <div
        style="
          background-color: #eee;
          border-radius: 6px 0 0 6px;
          border-right: 1px solid rgba(0, 0, 0, 0.1);
          flex: 1 1;
          overflow-x: auto;
          padding: 16px 12px;
        "
      >
       <%= `${my_url}/${shorten_url.short_url}` %>
      </div>
      <button
        style="
          border: 1px solid #ccc;
          background-color: transparent;
          cursor: pointer;
          font-weight: 500;
          padding: 0 16px;
          transition: 0.3s;
        "
        type="button"
      >
        Chia sẻ
      </button>
    </div>
    <% } %>
  </div>
</div>
